@import url("../../content/assets/layouts/layout/css/themes/light2.min.css");

.page-header.navbar .page-logo .logo{
    background-image: url(../../content/img/logo-benner-vermelha.png);
}

.menu-do-desenvolvedor {
    background-color: #eee !important;
}

.usuario {
    background-color: #3FD5C0 !important;
    color: #fff;
    height: 30px;
    width: 30px;
}

.usuario:hover {
    background-color: #3FD5C0 !important;
    color: #fff;
}
/* === Pesquisa ===*/
#searcher > a:hover {
    background-color: #eee;
}

    #searcher > a > i {
        color: #AAA;
        font-size: 17px;
    }

    #searcher:hover > a > i {
        color: #d0d0d0;
    }
/* === Pesquisa ===*/
/* === Help F1 ===*/
#helpDocumentation > a:hover {
    background-color: #eee;
}

    #helpDocumentation > a > i {
        color: #AAA;
        font-size: 17px;
    }

    #helpDocumentation:hover > a > i {
        color: #d0d0d0;
    }
/* === Help F1 ===*/