@import url("../../content/assets/layouts/layout/css/themes/grey.min.css");

.page-header.navbar .page-logo .logo {
    background-image: url(../../content/img/logo-benner-branca.png);
}

.menu-do-desenvolvedor {
    background-color: #657384 !important;
}

.usuario {
    background-color: #31c7b2 !important;
    color: #fff;
    height: 30px;
    width: 30px;
}

.usuario:hover {
    background-color: #31c7b2 !important;
    color: #fff;
}
/* === Pesquisa ===*/
#searcher > a:hover {
    background-color: #657384;
}

    #searcher > a > i {
        color: #9fa7b1;
        font-size: 17px;
    }

    #searcher:hover > a > i {
        color: #c9ced3;
    }
/* === Pesquisa ===*/
/* === Help F1 ===*/
#helpDocumentation > a:hover {
    background-color: #657384;
}

    #helpDocumentation > a > i {
        color: #9fa7b1;
        font-size: 17px;
    }

    #helpDocumentation:hover > a > i {
        color: #c9ced3;
    }
/* === Help F1 ===*/