@font-face {
	font-family: "FlaticonExcel";
	src: url("../fonts/flaticonexcel.eot");
	src: url("../fonts/flaticonexcel.eot#iefix") format("embedded-opentype"),
	     url("../fonts/flaticonexcel.woff") format("woff"),
         url("../fonts/flaticonexcel.woff") format("woff"),
	     url("../fonts/flaticonexcel.ttf") format("truetype"),
	     url("../fonts/flaticonexcel.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticonExcel-"]:before, [class*=" flaticonExcel-"]:before,
[class^="flaticonExcel-"]:after, [class*=" flaticonExcel-"]:after {   
	font-family: FlaticonExcel;
    font-size: 16px;
	font-style: normal;
    display: inline-block;
    margin-top: -1px;
}

.flaticonExcel-excel:before {
	content: "\e001";
    font-size: 12.7px;
}
