.modal-page .widget .portlet .form-body {
    padding: 0px;
}

.modal-page .widget .portlet.light {
    padding: 0px;
}

.tab-pane .widget .portlet.light {
    padding: 0Px;
}

.tabbable-line .tab-content {
    padding: 10px 0;
}

.tabbable-custom {
    overflow: visible;
}

.has-error .help-block,
.has-error .help-inline,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .mt-radio-outline,
.has-error .mt-radio-inline,
.has-error .checkbox-inline {
    color: #e02222;
}

.has-error .note-editor{
    border: 1px solid #e02222 !important;
}

span.has-error div.input-group span.input-group-btn a {
    border-top-color: #e02222;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #e02222;
    border-right-color: #e02222;
}

.has-error .form-control {
    border-color: #e02222;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .has-error .form-control:focus {
        border-color: #e02222;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.has-error .input-group-btn .btn{
    border-color: #e02222 !important;
}

.input-group-btn .btn{
    margin-left: -1px
}

img.has-error {
    border-width: 1px !important;
    border-style: solid;
    border-color: #e02222;
}

.url-control {
    cursor: pointer !important;
    overflow: hidden;
}

.image-control {
    position: relative;
}

.btn-image-control {
    position: absolute;
    bottom: 0px;
}

    .btn-image-control .btn + .btn {
        margin-left: 0px;
    }

.form-body.form-horizontal .checkbox {
    padding-top: 7px !important;
}

.form-control[disabled], .form-control[readonly] {
    cursor: inherit;
}

.form-view-mode .form-body.form-horizontal .checkbox {
    padding-top: 0px !important;
}

.form-view-mode .form-horizontal .radio, .form-view-mode .form-horizontal .checkbox, .form-view-mode .form-horizontal .radio-inline, .form-view-mode .form-horizontal .checkbox-inline {
    padding-top: 0px;
}

.form-view-mode .radio-inline, .form-view-mode .checkbox-inline {
    padding-right: 0px;
}

label.name {
    margin-bottom: 0px;
}

.tab-content.borderless {
    border: none;
}

.form .form-view-mode .form-section {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.form .form-section {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 17px;
}

    .form .form-section:first-child {
        margin-top: 5px;
    }

    .form .form-section > a {
        color: #333;
    }

        .form .form-section > .group-label > a {
            color: #333;
        }

    .form .form-section > a:hover {
        color: #333;
        text-decoration: none;
    }

        .form .form-section > .group-label > a:hover {
            color: #333;
            text-decoration: none;
        }

.row.static-info .form-group .value {
    display: block;
}

.form-body.horizontal-form div.checkbox {
    margin-top: 7px;
}

.form-body.horizontal-form label.checkbox {
    margin-top: 7px;
}

.form-body.horizontal-form .control-label.empty {
    height: 20px;
}

.form-body.horizontal-form .tab-form-section {
    padding-bottom: 2px;
}

    .form-body.horizontal-form .radio-list .radio-inline {
        padding-top: 1px;
    }

.form-body.horizontal-form .checkbox-list {
    padding-top: 5px;
}

    .form-body.horizontal-form .checkbox-list .checkbox-inline {
        padding-top: 1px;
    }

.error-tooltip {
    left: 10px !important;
}

.error-tooltip-inner {
    -webkit-box-shadow: 1px 1px 1px 1px #3d3d3d;
    -moz-box-shadow: 1px 1px 1px 1px #3d3d3d;
    box-shadow: 1px 1px 1px 1px #3d3d3d;
    background-color: #3d3d3d !important;
    color: #FFFFFF;
}

.error-tooltip-arrow {
    border-bottom-color: #3d3d3d !important;
    border-top-color: #3d3d3d !important;
}

.tooltip.fade.top {
    white-space: normal;
}

.help-tooltip {
    margin-left: 5px;
    color: #5c9bd1;
}

.label-title {
    display: table-cell;
}

.label-title-required {
    display: table-cell;
    width: 12px;
}

.label-title-help {
    display: inline-block;
    width: 17px;
    font-size: 14px;
    line-height: 1.42857;
}

.label-form {
    display: table;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857
}

/*[Chrome]*/
.boolean-control.mt-checkbox.mt-checkbox-outline {
    margin-top: 8.57px;
}

/*[IE]*/
@media all and (-ms-high-contrast:none), (-ms-high-contrast: active) {
    .boolean-control.mt-checkbox.mt-checkbox-outline {
        margin-top: 10.37px;
    }
}

/*[EDGE]*/
@supports (-ms-ime-align:auto) {
    .boolean-control.mt-checkbox.mt-checkbox-outline {
        margin-top: 9.57px;
    }
}

@-moz-document url-prefix() {
    .boolean-control.mt-checkbox.mt-checkbox-outline { 
        margin-top:10px; 
    }
}

.mt-checkbox-inline > .boolean-control.mt-checkbox.mt-checkbox-outline {
    margin-top: 0px !important;
}

.mt-checkbox > label, .mt-radio > label {
    cursor: pointer;
}

.mt-checkbox.mt-checkbox-disabled > label, .mt-radio.mt-radio-disabled > label {
    cursor: not-allowed;
}

.boolean-control.mt-checkbox.mt-checkbox-outline > input:focus~span {
    border: 1px solid #93a1bb;
}

.boolean-control.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span,
.boolean-control.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span {
    border: 1px solid #93a1bb;
}

.form-body.horizontal-form .boolean-control.mt-checkbox.mt-checkbox-outline {
    margin-bottom: -1px;
}

/* Formulários somente em modo view para diminuir os espaços para campo tipo bit */
.mt-checkbox-inline.value {
    padding: 0px 0px;
}

    .mt-checkbox-inline.value > .mt-checkbox {
        margin-bottom: 0px;
    }

.mt-radio-inline {
    padding: 0px 0px;
    margin-top: 6px;
    -webkit-padding-before: 7px;
}

    .mt-radio-inline > .mt-radio {
        margin-bottom: 3px;
    }

.boolean-control-view {
    font-weight: 600;
}

.bit-control.mt-checkbox-inline {
    padding: 7px 0 3px;
    -webkit-padding-before: 7px;
    -webkit-padding-after: 4px;
}

    .bit-control  > .boolean-control.mt-checkbox {
        margin-bottom: 0px;
    }
    
/** Campo Tab */
.tab-form-section {
    border-bottom: 1px solid #e7ecf1;
    font-size: 17px;
    margin-bottom: 10px;
}
    .tab-form-section {
        margin-top: 5px;
    }

    .form-horizontal .tab-form-section > .tab-items > .mt-radio-inline {
        padding-top: 0px;
    }

    .tab-form-section > .label-title-help {
        font-size: 14px;
        float: left;
    }

    .tab-form-section > .label-title-required {
        float: left;
    }

    .tab-form-section > .tab-items {
        font-size: 14px;
        line-height: 1.42857;
    }

    .tab-form-section > .label-title-required > .required {
        color: #e02222;
        font-size: 12px;
        padding-left: 2px;
    }

    .tab-form-section > .tab-items > .mt-radio-inline > .mt-radio:first-child {
        margin-left: 8px;
    }

    
.tab-label, .group-label {
    white-space: nowrap;
    float: left;
}

.tab-value {
    font-weight: 600;
}

.form-body.form-horizontal.field-tab {
    padding-bottom: 0px;
    padding-top: 0px;
}

    .form-body.form-horizontal.field-tab .form-group:last-of-type {
        margin-bottom: 0px;
    }

.form-body.horizontal-form.field-tab {
    padding-bottom: 0px;
    padding-top: 0px;
}

    .form-body.horizontal-form.field-tab .row {
        margin-bottom: -10px;
    }

.row.static-info.field-tab {
    margin-bottom: 0px;
}
/** Campo Tab */

/** Select2 */
.select2-container .select2-selection--single .select2-selection__rendered > .selected-item {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
}

.input-group.select2-bootstrap-append > span:nth-last-child(1) {
    display: table-cell;
}

.select2-container--bootstrap > .select2-dropdown.select2-dropdown--below > .select2-results > .select2-results__options {
    max-height: 190px;
}

.select2-container--bootstrap > .select2-dropdown.select2-dropdown--above > .select2-results > .select2-results__options {
    max-height: 190px;
}
/** Select2 */
.input-group-btn > .btn {
    height: 34px;
} 
/** Select2 */

/** Grupo */
/* Esconde quando minimizado em legenda superior */
.form-section.minimized + .row {
    display: none;
}
/* Esconde quando minimizado em legenda a esquerda */
.form-section.minimized ~ .form-group {
    display: none;
}
/** Grupo */