.dx-pivotgrid-nodata {
    margin-left: 10px !important;
}

div[widget-type='PivotTable'] .fullscreen{
    margin-right:5px;
}

div[widget-type='PivotTable'] .portlet.light{
    overflow:hidden;
}

div[widget-type='PivotTable'] .portlet-fullscreen .pivot-table-content{
    height:100% !important;
}

div[widget-type='PivotTable'] .blockUI {
    z-index:11000 !important;
}

.dx-overlay-wrapper {
    z-index:11000 !important;
}