<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<poolcontroller>
  <pools>
    <pool>
      <name>BIBLIOTECA</name>
      <dbdriver>MSSQL2k</dbdriver>
      <connectionstring>
      </connectionstring>
      <superserverhost>BNU-estag014</superserverhost>
      <systemname>BIBLIOTECA</systemname>
      <maxload>1</maxload>
      <avoidtablecache>0</avoidtablecache>
      <recycletime>120</recycletime>
      <sessionexpiration>TimeoutOnly</sessionexpiration>
    </pool>
  </pools>
</poolcontroller>